.form-document{
    background-color: #a2bde0a4;
    border-radius: .3rem;
    padding: 1rem;
}
.form-document h2{
    color: #696262;
}
.form-document > *{
    display: block;
    width: 100%;
    margin-bottom: .5rem;
    padding: .7rem;
    font-size: 1.2rem;
    border-radius: .3rem;
    border-color: #fff;
    outline: none;
}
.form-document > *:not(.btn-container,h2){
    border: thin #1b5be4 solid;
    color: #696262;
}
.form-document *:hover {
    cursor: pointer;
}
.input-link{
    background-color: #fff;
    border: inherit;
    height: 50px;
    padding: 0;
}
.input-link input{
    outline: none;
    border: none;
    width: 80%;
    margin-left: .5rem;
    height: 100%;
    color: #42a6f8;
}
.input-link input[type="number"]{
    color: #229e1e;
    font-size: 1.3rem;
}
.input-file{
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 50px;
}
.input-file > *{
    border: none;
    outline: none;
    height: 100%;
    font-size: 1.2rem;
}
.input-file select{
    color: #696262;
    padding-left: 1rem;
}
.input-file input{
    display: none;
}
.input-file button{
    background-color: inherit;
    color: #696262;
    border-right:thin solid #aaa2a2;
    padding-left: 1rem;
    padding-right: 1rem;
}
.input-link label{
    color: #9e9b9b;
    margin-left:1rem;
}
.form-document textarea{
    resize: none;
    font-size: 1rem;
}
.btn-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
}
.btn-container > * {
    width: 40%;
    height: auto;
    padding: .5rem;
    font-weight: bold;
    border: none;
} 
.btn-red{
    background-color: #f01616;
    color: #fff;
    border-radius: .3rem;
}
.btn-red:hover{
    background-color: transparent;
    color: #f01616;
    box-shadow: 2px 2px 10px #f71c1cf3;
}
.btn-blue{
    background-color: #1b5be4;
    color: #fff;
    border-radius: .3rem;
    margin-left:auto ;
}
.btn-blue:hover{
    background-color: transparent;
    color: #1b5be4;
    box-shadow: 2px 2px 10px #1b5be4;
}
@media screen and (max-width: 800px){
    .input-link input{width: 65%;}
    .form-document > *,
    .input-file > * {font-size: 1rem;}
    .input-file select{width: 55%;}
    .form-document h2{font-size: 1.2rem;}
}