.contenedor-buscador{
    border-bottom: thin solid rgb(255, 255, 255);
    padding: 1rem;
    width: 100%;
    
}
.buscador {
    display: grid;
    border-radius: 0.3rem;
    width:100%;
    background-color: rgb(238, 235, 235);
    overflow: hidden;
    margin: auto;
    height: auto;
}
.buscador select,
.buscador input,
.buscador button{
    border: none;
    outline: none;
    background-color: rgb(236, 232, 232);
}
.select-building{
    grid-column: 1/2;
    width: 120px;
    padding: 1rem;
    font-size: 1.2rem;
    color:rgba(148, 151, 151, 0.849);
    display: inline-block;
    margin: auto;
    border-right: thin solid #d4d2d2  ;
}
.select-building select{
    cursor: pointer;
}
.buscador input {
    width: 100%;
    grid-column: 2/6;
    height: 100%;
    padding: 0;
    font-size: 120%;
}
.btn-contenedor{
    grid-column: 6/7;
    margin-left: auto;
    color: rgba(195, 204, 204, 0.849);
    padding: 0.2rem;
    width: 100px;
    height: 100%;
}
.btn-contenedor button{
    width: 47%;
    height: 100%;
    border-left: thin solid rgb(255, 252, 252);
    cursor: pointer;
    padding: 0.5rem;
}
.btn-contenedor i{
    color: rgba(125, 126, 126, 0.849);
    font-size: 1.3rem;
}
.buscador input:placeholder-shown + .btn-contenedor button[type="reset"]{
    opacity: 0;
    transition: 0.2s;
}
@media screen and (max-width: 800px) {
    .buscador{width: 100%;}
}
