html{
	box-sizing: border-box;
	font-size: 16px;
}
*,
*::after,
*::before{
	box-sizing: inherit;
	margin: 0;
}
body{
	--color-main: rgb(65, 134, 247);
	--color-delete: #f70000;
	--color-modified: #04a16d;
	background-color: rgb(221, 220, 220);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: sans-serif;
}
/*contenedro cuerpo del documento*/
.sgac-element-container{
	background-color: #fff;
	width: 80%;
	margin: auto;
	border-radius: 0.3rem ;
	padding: 0.6rem;
	margin-top: 5rem;
	margin-bottom: 5rem;
	box-shadow: 2px 2px 15px #000;
}
/* cabecera*/
.sgac-header{
    background-color: var(--color-main);
	display: flex;
    width: 100%;
    height: 3.5em;
	color: #fff;
	align-items: center;
	position: fixed;
}
.sgac-header span{
    font-size: 2rem;
	padding: .5rem;
	padding-left: 2rem;
	z-index: 30;
}
.icon-content{
	background-color: var(--color-main);
	padding: .5rem;
	margin-left: auto;
	margin-right: 4rem;
}
.icon-content ul{
	list-style-type: none;
	padding-inline-start: 0;
}
.icon-content a{
	text-decoration: none;
	display: block;
	color: #fff;
	padding: .3rem;
}
.icon-user{
	position: relative;
	width: 9rem;
}
.sub-menu-icon{
	width: 9rem;
	height: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	z-index: 20;
	background-color: var(--color-main);
	top: 2.2rem;
	transition: .5s;
}
.sub-menu-icon li{
	margin-top: .4rem;
	padding: .2rem;
}
.icon-content:hover  .sub-menu-icon{
	height: auto;
	transition: .5s;
}
.icon-content li:hover{
	background-color: #e6dedeb0;
}
.sub-menu-icon-content-open{
	height: auto;
	height: 8rem;
	top: 3rem;
	left: 0;
	transition: .2s;
}
/*clase para botones*/
.btn{
	border: none;
    border-radius: .3rem;
    color: #fff;
    width: max-content;
    height: min-content;
}
.btn a{
    text-decoration: none;
    color: inherit;
    padding: .5rem;
    text-align: center;
    width: 100%;
    display: inline-block;
	font-weight: bold;
}
.btn:hover{
    cursor: pointer;
    background-color: transparent;
}
.btn-blue{
	background-color: var(--color-main);
}
.btn-blue:hover{
	color: var(--color-main);
	box-shadow: 1px 1px 5px var(--color-main);
}
.btn-red{
	background-color: var(--color-delete);
}
.btn-red:hover{
	color: var(--color-delete);
	box-shadow: 1px 1px 5px var(--color-delete);
}
.btn-green{
	background-color: var(--color-modified);
}
.btn-green:hover{
	color: var(--color-modified);
	box-shadow: 1px 1px 5px var(--color-modified);
}
.btn-transparent{
	background-color: transparent;
	color: var(--color-main);
	border:thin solid var(--color-main);
}
.btn-transparent:hover{
	box-shadow: 1px 1px 5px #000;
}
/*botones para formulario*/
.btn-form{
	width: 40%;
}
.btn-gray{
	background-color: #3b3939;
}
.btn-gray:hover{
	color: #3b3939;
	box-shadow: 1px 1px 5px #3b3939;
}
.btn-yellow{
	background-color: #ecd823;
	color: #000;
}
.btn-yellow:hover{
	box-shadow: 1px 1px 5px #ecd823;
}
.btn-blueskill{
	background-color: #128f8f;
}
.btn-blueskill:hover{
	color: #128f8f;
	box-shadow: 1px 1px 5px #128f8f;
}
/*estylos del menu*/
.menu-footer{
	position: fixed;
	width: 100%;
	bottom: 0;
}
#menu {
	background: var(--color-main);
	color: #FFF;
	height: 45px;
	padding-left: 18px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: var(--color-main);
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width:16rem;
	background: #5a5959e5;
	position: absolute;
	z-index: 99;
	display: none;
	bottom: 2.8em;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
/*estillos de la pagina de busqueda*/
.contenedor-buscador{
    border-bottom: thin solid rgb(255, 255, 255);
	padding-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contain-button-add{
	display: flex;
	justify-items: center;
	justify-content: flex-start;
    margin-top: .5rem;
    padding: .3rem;
    border-radius: .5rem;
    background-color: rgb(212, 210, 210);
}
.buscador {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    width:100%;
    background-color: rgb(224, 221, 221);
    overflow: hidden;
    margin: auto;
    height: auto;
    padding: .5rem;
    color: #3f3e3e;
	box-shadow: 2px 2px 10px 2px #000000a9;
}
.buscador select,
.buscador input,
.buscador button{
    border: none;
    outline: none;
    background-color: rgb(226, 222, 222);
    color: inherit;
}
.buscador select{
    border-right: thin solid #fff;
    flex: 1 1 5%;
}
.buscador input[type="text"]{
    padding-left: 1rem;
    flex: 1 1 80%;
}
.buscador button{
    flex: 1 0 2rem;
}
.buscador button[type="reset"]{
    border-left: thin solid #fff;
    margin-left: auto;
    
}
.buscador button:hover{
    cursor: pointer;
}
.buscador input[type="text"]:placeholder-shown +  button[type="reset"]{
    opacity: 0;
    transition: .2s;
   
}
@media screen and (max-width: 800px) {
    .buscador{width: 100%;}
}
/*estilos del formulario*/
/* estilos del formuario formulario*/
.container-form{
	width: 100%;
	background-color: #a7a6a680;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: .3rem;
}
.form-add-data{
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: .3rem;
}
.form-add-data > select{
	appearance: none;
}
.form-add-data > input,select,textarea{
	border: none;
	outline: none;
	resize: none;
	padding-left: .5rem;
	width: 100%;
}
.form-add-data > input,select{
	height: 1.5rem;
}
.form-add-data > *{
	margin-top: 1rem;
}
.container-form-button{
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-evenly ;
	margin-top: 1rem;
}
.container-form-button > button{
	height: 2rem;
	min-width: min-content;
	width: 6rem;

}
/*estilos tabla de datos propietario*/
.contenedor-tabla-datos{
	margin:auto;
	overflow-x:scroll;
	margin-top: 1rem;
}
.tabla{
	border-collapse: collapse;
	border-radius:.3rem;
	margin: auto;
	margin-top: 1rem;
	overflow: hidden;
	width: 100%;
	
}
.contenedor-tabla-datos h2{
	font-weight: normal;
	color: #3b3939;
}
.tabla th,td{
	padding: .5rem;
}
.elementos-cabecera-azul{
	background-color: #2b7ce6;
	border-color: #2b7ce6;
	color: #fff;
}
.estilo-color-entrelazado tr{
	background-color: #d7e6ee;
	border-color: #d7e6ee;
}
.tabla tr{
	height: 45px;
}
/*Botones de eleccion de usuario en la paginas de autenticación*/
.container-menu-pages, .button-authentication{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-around;
}
.button-authentication{
	height: 5rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.button-authentication > *{
	width: 15rem;
}
.button-menu-index{
	height: 15rem;
}
/*imagen y fomulario de autenticacion*/
.container-form-authentication{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
	height: 20rem;
	margin-top: 5rem;
}
.container-form-authentication img{
	width: 100%;
}
.container-form-authentication > div{
	width: 20rem;
}
.container-form-authentication .form{
	width: 10rem;
}
.form  span{
	font-size: .8rem;
}
.form > span{
	margin-left: auto;
	display: block;
}
.form  input{
	outline: none;
	border: thin solid;
	height: 1.7rem;
	border-radius: .3rem;
	border-color: var(--color-main);
}
.form > form{
	display: flex;
	height: 14rem;
	flex-flow: column wrap;
	justify-content: space-around;
	padding: .3rem;
}
.form  button{
	width: 6rem;
	height: 2rem;
}
/*autenticación footer*/
.sgac-element-container > footer{
	color: #fff;
	margin-top: 10rem;
	width: 100%;
	padding: 1rem;
	background-color: var(--color-main);
	bottom: 1rem;
	text-align: center;
	font-weight: bold;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background: var(--color-main);position:absolute;bottom:100%;right:0;left:0;z-index:3;height:auto;display: none;}
	#menu ul[class="open"]{display: block;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
	/*estyle of header*/
	.icon-content{margin-right: 1rem;}
	/*estilos del contenedor principal*/
	.sgac-element-container{width: 95%;margin-top: 5rem;margin-bottom: 5rem;}
	/*pagina de autenticacion*/
	.container-form-authentication{flex-direction: column;}
	.container-form-authentication .container-image{display: none;}
	/*estilos del menu iconos usuarios*/
	.icon-user{position: inherit;}
	.icon-content{margin-right: 0; width: 7rem;}
	.sub-menu-icon{width: 100%;}
}

